# Core dependencies
torch==2.6.0
torchaudio==2.6.0
transformers==4.49.0
numpy==2.2.3
pyaudio==0.2.14
faster-whisper==1.1.1
sentencepiece==0.2.0
onnxruntime==1.20.1

# Utility libraries
filelock==3.17.0
requests==2.32.3
tqdm==4.67.1
packaging==24.2
soundfile==0.13.1
websockets==15.0.1
PyYAML==6.0.2

# Text Processing & Tokenization
huggingface-hub==0.29.1
tokenizers==0.21.0
safetensors==0.5.2
sacremoses==0.1.1

# Build tools
setuptools>=76.0

# Testing & Dev tools
psutil==7.0.0
ruff==0.11.1
pytest==8.3.5
pytest-asyncio==0.25.3
build==1.2.2.post1
twine==6.1.0

# Examples dependencies
opencv-python==4.11.0.86
pillow==11.2.1